.form {
  text-align: right;
}

.form button {
  font: inherit;
  font-size: .9rem;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 4px 16px;
  border-radius: 20px;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}